@charset "UTF-8";
#boardWrite {
	display: none;
	padding: 7% 10% 7% 10%;
}
#boardUpdate {
	display: none;
	padding: 7% 10% 7% 10%;
}
#boardRead{
	display: none;
	padding: 5%;
}
#boardList {
	display: block;
	padding:2% 5% 2% 5%;
}
#boardSearch{
	display: none;
	padding:2% 5% 2% 5%;
}
.boardTA {
	width: 100%;
	resize:none;
}
.boardTT {
	width: 60%;
	margin-bottom: 5%;
}
.listItem {
	font-size: 12px;
	margin-top: 1%;
	cursor: pointer;
	animation: fadein 0.4s;
}
.listItem h4 {
	font-size: 15px;
	color : black;
	white-space: nowrap;
	overflow: hidden;   
	text-overflow: ellipsis;
}
.searchItem {
	display: block;
	padding-right: 1%;
	font-size: 12px;
	margin-top: 1%;
	cursor: pointer;
	animation: fadein 0.4s;
}
.searchItem h4 {
	font-size: 15px;
	color : black;
	white-space: nowrap;
	overflow: hidden;   
	text-overflow: ellipsis;
}
.info {
	color: gray;
}
#readContent {
	height:270px;
	overflow: scroll;
	overflow-x: hidden; 
}
#readContent::-webkit-scrollbar {
	width:9px;
}
#readContent::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}
#readContent::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}
#pageCount {
	margin-top: 2px;
	text-align: center;
}
#pageCount a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}
#pageCount span {
	color: lightgray;
	font-size: 12px;
}
#pageCount a:hover{
	color: gray;
}
#searchBox {
	height: 370px;
	overflow: scroll;
	overflow-x: hidden; 
}
#searchBox::-webkit-scrollbar {
	width:9px;
}
#searchBox::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}
#searchBox::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}
@media(max-width: 574px) {
	#pageCount a {
		font-size: 10px;
	}
	#pageCount span {
		font-size: 10px;
	}
	.listItem {
		margin-top: 2%;
	}
	#readTitle {
		font-size: 16px;
	}
	.info,#readContent {
		font-size: 13px;
	}
}
@media(max-width: 400px) {
	.listItem {
		margin-top: 3%;
	}
}