@charset "UTF-8";
#projectList {
	display: block;
	padding:2%;
}
#projectUpload {
	display: none;
	padding:5%;
}
#scrollBut {
	float: left;
	padding-top: 55px;
	width: 3%;
}
#up{
	width: 90%;
	margin:2px auto;
	cursor: pointer;
	transition: 0.3s;
	animation: fadein 0.5s;
}
#up:hover{
	opacity: 0.7;
}
#down{
	width: 90%;
	margin:2px auto;
	cursor: pointer;
	transition: 0.3s;
	animation: fadein 0.5s;
}
#down:hover{
	opacity: 0.7;
}
#projectScroll {
	width: 97%;
	height: 187px;
	overflow: scroll;
	overflow: auto;
	overflow-y: hidden;
	transition: 0.4s;
  	flex-wrap: wrap;
}
#projectM {
	display: none;
}
#projectScroll::-webkit-scrollbar {
	height:9px;
	width:9px;
}
#projectScroll::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}
#projectScroll::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}
#projectBox{
	width: 2250px;
}
.projectItem {
	display: inline-block;
	height:165px;
	width:220px;
	margin: 3px 2px 20px 2px;
	text-align: center;
	font-size: 12px;
	color: gray;
	cursor: pointer;
	animation: fadein 0.4s;
}
.projectThumb {
	margin:2% auto;
	height:120px;
	width:160px;
	overflow: hidden;
}
.projectThumb img {
	height:120px;
	width:160px;
	object-fit:contain;
}
.projectReadTop img {
	float:right;
	height:60px;
	width:80px;
	object-fit:contain;
}
.projectReadTop h1 {
	font-size: 25px;
	float:left;
	margin-bottom: 2px;
}
.projectReadTop a {
	width:30%;
	padding: 3px 3px;
	clear:left;
	float:left;
	border-radius: 5px;
	font-size:15px;
	text-decoration: none;
	background-color: #DCDDDF;
	text-align: center;
	margin-top:3px;
	color: black;
	font-weight: bold;
	transition: 0.3s ease-out;
}
.projectReadTop a:hover {
	background-color: lightgray;
}
.projectItem h4 {
	width:100%;
	font-size: 15px;
	color : black;
	white-space: nowrap;
	overflow: hidden;   
	text-overflow: ellipsis;
}
.projectTA {
	width: 100%;
	resize:none;
}
.projectTT {
	width: 60%;
	margin-bottom: 3%;
}
.projectUR {
	width: 60%;
	margin-bottom: 3%;
}
#pinfo {
	margin: 10px 0;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
#projectRead {
	width: 84%;
	height: 500px;
    margin: 5%;
	border: 1px solid lightgray;
    border-radius: 7px;
    transition: 0.8s ease-out;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 3%;
}
#projectNull {
	width: 90%;
	height: 0px;
    margin: 5%;
    opacity: 0;
	border: 1px solid lightgray;
    border-radius: 7px;
    transition: 0.8s ease-out;
    background-color: whitesmoke;
}
#searchTop {
	display: none;
	margin-bottom: 10px;
}
#projectR {
	animation: fadein 0.5s;
}
@media(max-width: 850px) {
	#scrollBut {
	width: 4%;
	}
	#projectScroll {
		width: 96%;
		height: 190px;
	}
}
@media(max-width: 750px) {
	#scrollBut {
	width: 5%;
	}
	#projectScroll {
		width: 95%;
		height: 193px;
	}
}
@media(max-width: 574px) {
	#scrollBut {
	width: 7%;
	}
	#projectScroll {
		width: 93%;
		height: 197px;
	}
}
@media(max-width: 424px) {
	#scrollBut {
	width: 10%;
	}
	#projectScroll {
		width: 90%;
		height: 197px;
	}
}